@import "base";

.job {
  margin-bottom: 1rem;
}

.card {
  border: none;

  .card-header {
    border: none;
    padding: 0;
    background: transparent;
  }

  .card-block {
    padding-top: 0;
    padding-bottom: 0;
  }

  .card-footer {
    padding: 0;
    margin-left: 1.25rem;
    background: transparent;
  }
}

.status {
  &.text-success, &.text-danger, &.text-primary {
    font-weight: bold;
  }
}

.status-lg {
  font-size: 1.5rem;
}

.text-black {
  color: black !important;
}

.status-text {
  &.text-primary {
    font-weight: bold;
  }
}

a[href^="mailto:"] {
  &:before {
    content: "<";
  }

  &:after {
    content: ">";
  }
}

.table-sm tbody {
  td {
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.table-code {
  display: block;
  background: #333;
  width: 100%;
  overflow-x: scroll;
  padding-top: 0.5rem;
  margin-bottom: 1rem;

  pre {
    color: white;
  }

  td:first-child {
    vertical-align: top;
    margin: 0;
    padding: 0 0.5rem;
    text-align: right;
    border-right: 1px solid #888;

    a {
      display: inline-block;
      width: 100%;
      color: #aaa;
      margin: 0;
      padding: 0;
    }
  }

  td:last-child {
    vertical-align: top;
    padding: 0 1rem;
    margin: 0;
  }
}
