<div class="sidebar">
  <p>
    Welcome back, {{ current_user.username }}! This is the
    {{cfg("sr.ht", "site-name")}} build service. Documentation for its use is
    <a href="https://man.sr.ht/builds.sr.ht">available here</a>.
  </p>
  <a class="btn btn-primary btn-block" href="/submit">
    Submit manifest
    <i class="fa fa-caret-right"></i>
  </a>
  <a class="btn btn-default btn-block" href="/secrets">
    Manage secrets
    <i class="fa fa-caret-right"></i>
  </a>
  {#
  <h3>Stored Manifests</h3>
  <p>
  You can store build manifests directly on builds.sr.ht and trigger them
  without having to rely on the API.
  </p>
  <dl class="row">
    <dt class="col-md-8">Deploy meta.sr.ht</dt>
    <dd class="col-md-4"><button class="btn btn-default btn-block">Trigger</button></dd>
    <dt class="col-md-8">Deploy git.sr.ht</dt>
    <dd class="col-md-4"><button class="btn btn-default btn-block">Trigger</button></dd>
    <dt class="col-md-8">Deploy todo.sr.ht</dt>
    <dd class="col-md-4"><button class="btn btn-default btn-block">Trigger</button></dd>
    <dt class="col-md-8">Deploy builds.sr.ht</dt>
    <dd class="col-md-4"><button class="btn btn-default btn-block">Trigger</button></dd>
  </dl>
  <a class="btn btn-default btn-block" href="/manifests">Manage stored manifests</a>
  #}
</div>
