{% extends "layout.html" %}
{% block content %} 
<section class="row">
  <div class="col-md-4">
    <p>
      You can incoprorate secrets (like SSH keys) into your builds by including
      their UUIDs in your build manifest:
    </p>
    <pre>secrets:
- 46f739e5-4538-45dd-a79f-bf173b7a2ed9</pre>
    <p>
      They will only be included for builds submitted by you or with an OAuth
      key assigned to your account.
      {#
      You can test if a secret is available during builds with the
      <code>builds.sr.ht secrets [uuid]</code> command, which returns a nonzero
      exit code if the secret is not present.
      #}
    </p>
    <h3>Add new secret</h3>
    <form method="POST" action="/secrets">
      <div class="form-group {{ valid.cls("name") }}">
        <label for="name">Name</label>
        <input
          id="name"
          name="name"
          type="text"
          placeholder="optional"
          class="form-control"
          value="{{ name or "" }}" />
        {{ valid.summary("name") }}
      </div>
      <div class="form-group {{ valid.cls("secret") }}">
        <label for="secret">Secret</label>
        <textarea
          id="secret"
          name="secret"
          class="form-control"
          rows="5"></textarea>
        {{ valid.summary("secret") }}
      </div>
      <fieldset class="form-group {{ valid.cls("secret_type") }}">
        <legend>Secret Type</legend>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="radio"
              name="secret_type"
              id="secret_type-ssh_key"
              value="ssh_key"
              {{ "checked" if secret_type == "ssh_key" else "" }}> SSH Key
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="radio"
              name="secret_type"
              id="secret_type-pgp_key"
              value="pgp_key"
              {{ "checked" if secret_type == "pgp_key" else "" }}> PGP Key
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="radio"
              name="secret_type"
              id="secret_type-plaintext_file"
              value="plaintext_file"
              {{ "checked" if secret_type == "plaintext_file" else "" }}> File
          </label>
        </div>
        {{ valid.summary("secret_type") }}
        <noscript>
          <p>The following fields only apply to "File" secrets:</p>
        </noscript>
        <div id="file-fields">
          <div class="form-group {{ valid.cls("file-path") }}">
            <label for="file-path">Path</label>
            <input
              type="text"
              class="form-control"
              name="file-path"
              placeholder="e.g. '~/.my_secret'" />
            {{ valid.summary("file-path") }}
          </div>
          <div class="form-group {{ valid.cls("file-mode") }}">
            <label for="file-mode">Mode</label>
            <input
              type="text"
              class="form-control"
              name="file-mode"
              placeholder="e.g. '644'" />
            {{ valid.summary("file-mode") }}
          </div>
        </div>
        <script>
          (function() {
            var fields = document.getElementById("file-fields");
            var checkbox = document.getElementById("secret_type-plaintext_file");

            function apply() {
              console.log("apply", checkbox.checked);
              fields.style.display = checkbox.checked ? "block" : "none";
            };

            [].slice.call(document.querySelectorAll("input[type='radio']")).map(function(radio) {
              radio.addEventListener("change", apply);
            });
            apply();
          })();
        </script>
        <p>
          SSH keys are written to <code>~/.ssh/:uuid</code> and the first key
          added is symlinked to <code>~/.ssh/id_rsa</code>. PGP keys are
          imported into GPG.
        </p>
      </fieldset>
      <button type="submit" class="btn btn-default btn-block">
        Add secret
        <i class="fa fa-caret-right"></i>
      </button>
    </form>
  </div>
  <div class="col-md-8">
    {% if message %}
    <div class="alert alert-info">
      {{ message }}
    </div>
    {% endif %}
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>UUID</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for secret in secrets %}
        <tr>
          <td>{{ secret.name or "" }}</td>
          <td>{{ str(secret.uuid) }}</td>
          <td>{{ secret.created | date }}</td>
          <td style="width: 6rem">
            <a
              href="/secret/delete/{{ secret.uuid }}"
              class="btn btn-danger btn-fill"
            >Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
