{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="/static/codemirror.css">
<style>
.CodeMirror {
  height: 30rem;
  border: 1px solid #888;
  padding: 0;
  border-radius: 0;
}
</style>
{% endblock %}
{% block content %} 
<section class="row">
  <div class="col-md-4">
    <p>
      You can submit ad-hoc build manifests on this page, which is useful for
      debugging and research. However, you may prefer to submit builds via
      <a href="https://man.sr.ht/builds.sr.ht/api.md">the API</a>
      or one of the
      <a href="https://man.sr.ht/builds.sr.ht/#integrations">integrations</a>.
    </p>
  </div>
  <form class="col-md-8" id="manifest-form" action="/submit" method="POST">
    {{csrf_token()}}
    <div class="form-group">
      <textarea
        rows="15"
        class="form-control {{valid.cls("manifest")}}"
        placeholder="Enter or paste build manifest..."
        name="manifest"
        id="editor"
      >{{manifest if manifest else ""}}</textarea>
      {{valid.summary("manifest")}}
      <script>
        /* Reduce effects of FOUC for JS users */
        document.getElementById('editor').style.display = 'none';
      </script>
    </div>
    <div class="form-group">
      <label for="note">Add note</label>
      <input
        type="text"
        class="form-control"
        id="note"
        name="note"
        placeholder="Submitted on the web" />
    </div>
    <div class="form-group">
      <a
        class="pull-right"
        href="https://man.sr.ht/builds.sr.ht/manifest.md"
        target="_blank"
      >Build manifest reference {{icon("caret-right")}}</a>
      <button type="submit" class="btn btn-primary">
        Submit {{icon("caret-right")}}
      </button>
    </div>
  </form>
</section>
{% endblock %}
{% block scripts %}
<script src="/static/codemirror.js"></script>
<script src="/static/yaml.js"></script>
<script>
const el = document.getElementById('editor');
let cm = CodeMirror(elt => {
  el.parentNode.replaceChild(elt, el);
}, {
  value: el.value,
  mode: 'yaml',
  lineNumbers: true,
  autofocus: true,
  indentWithTabs: false,
  smartIndent: true,
  extraKeys: {
    Tab: (cm) => {
      if (cm.getMode().name === 'null') {
        cm.execCommand('insertTab');
      } else {
        if (cm.somethingSelected()) {
          cm.execCommand('indentMore');
        } else {
          cm.execCommand('insertSoftTab');
        }
      }
    },
    'Shift-Tab': (cm) => cm.execCommand('indentLess')
  },
});

for (let i = 0; i < el.classList.length; i += 1) {
  cm.display.wrapper.classList.add(el.classList[i]);
};

document.querySelector('button[type="submit"]').addEventListener('click', ev => {
  ev.preventDefault();
  let form = document.getElementById('manifest-form');
  let node = document.createElement('input');
  node.type = 'hidden';
  node.name = 'manifest';
  node.value = cm.getValue();
  form.appendChild(node);
  form.submit();
});
</script>
{% endblock %}
